<form (ngSubmit)="onSubmit()">
    <div class="form-group container text-center">
        <h2>{{ isEditMode ? 'Editar' : 'Agregar' }} Elemento</h2>

        <div class="mb-3 row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nombre" [(ngModel)]="item.nombre" name="nombre" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="correo" class="col-sm-2 col-form-label">Correo:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="correo" [(ngModel)]="item.correo" name="correo" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="edad" class="col-sm-2 col-form-label">Edad:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="edad" [(ngModel)]="item.edad" name="edad" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Actualizar' : 'Agregar' }}</button>
    </div>
</form>